<div class="section active_blog index" itemscope itemtype="http://schema.org/Blog">
  <h1><%= blog_title %></h1>

  <% if @blog_posts.empty? %>
    <%= link_to "Write your first blog post", admin_active_blog_blog_posts_path %>
  <% end %>

  <%= render :partial => "blog_post", :collection => @blog_posts %>
</div>

<%= render :partial => "sidebar" %>
