<h1><%= ActiveBlog.blog_title %></h1>

<% if @blog_posts.empty? %>
  Nothing written
<% end %>

<% @blog_posts.each do |blog| %>
  <h2><%= blog.title %></h2>
  <hr/>
  <%= markdown(blog.body) %>
<% end %>