<div class="section active_blog show">
  <h1><%= blog_title %></h1>

  <%= render :partial => "blog_post", :locals => {:blog_post => @blog_post} %>
</div>

<div class="section active_blog sidebar">
  <%= blog_sidebar do %>
    <br/>
  <% end %>
</div>
