<!DOCTYPE html>
<html>
<head>
  <title>ActiveBlog</title>
  <%= stylesheet_link_tag    "active_blog/application" %>
  <%= javascript_include_tag "active_blog/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
