#main_content {
  margin: 0 auto;
  #main_form {
    float: left;
    width: 49%;
  }
  #live_preview {
    float: right;
    width: 49%;
    background-color: #efefef;
  }
}

.panel {
  h4 {
    span {
      font-size: 90%;
      font-weight: bold;
    }
  }
}

.buttons {
  .cancel {
    padding-top: 5px;
  }
}