#main_content {
  margin: 0 auto;
  #main_form, .panel.show.blog {
    float: left;
    width: 49%;
  }
  #live_preview, .buffer {
    float: right;
    width: 49%;
    background-color: #efefef;
  }
}

.panel {
  h4 {
    span {
      font-size: 90%;
      font-weight: bold;
    }
  }
}
